body{
  background-color: ffffdd;
  
}
 
h1{
  font-family: monospace;
} 

.btn{
  border: none;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  
}

section article:nth-child(1){
  margin-bottom: 40px
}

textarea{
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}


.btns-codificar, .btn-decodificar{
  margin-top: 5px;
}

.btns-codificar{
  display: flex;
  justify-content: space-between;

}

.btn-decodificar{
  display: flex;
  justify-content: center;

}

.rodape{
font-family: monospace;
 position: fixed;
 bottom: 0;
 left: 0;
 width: 100%;
 text-align: 100;
 text-align: center;
 text-decoration: none;
 
}

